/* Show it is fixed to the top 
body {
  
  padding-top: 4.5rem;
}
*/

/*
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navi{
  position: fixed;
  left:  50%;
  top:  95%;
  transform: translate(-50%, -50%);
}

img {
  transform: translate(-50%, -50%)
}


min-height: 75rem;

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
*/